/* || Variables  */
/* || Resets */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
}

/* || Basic setup */
html {
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  color: #585858;
  line-height: 2.9rem;
  background-color: #F7F7F7;
}

/* || Layout */
.center {
  padding-left: 12rem;
  padding-right: 12rem;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#13548F, rgba(22, 182, 192, 0));
  color: #F7F7F7;
}
.header__welcome {
  margin-top: 12rem;
}
.header__welcome-text {
  display: inline-block;
  width: 52rem;
  margin-top: 2.6rem;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.6rem;
}
.nav__links > ul {
  display: flex;
  font-size: 1.4rem;
}
.nav__links > ul > li {
  transition: all 0.3s;
}
.nav__links > ul > li:hover {
  color: #9bcbf8;
  transition: all 0.3s;
}
.nav__links > ul > li:not(:last-child) {
  margin-right: 2rem;
}

.main {
  width: 100vw;
  min-height: 40rem;
  margin-bottom: 30rem;
}
.main .project {
  margin-top: 30rem;
}

.project {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.project__description {
  width: 45rem;
}
.project__description-heading {
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  background-image: linear-gradient(to right, #13548F, #16B6C0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project__description-body {
  display: block;
  margin-top: 0.8rem;
}
.project__description-keys {
  margin-top: 0.8rem;
}
.project__description-keys span {
  display: block;
}
.project__description-case {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 4rem;
  border-radius: 30px;
  border: 1px solid #585858;
  margin-top: 2rem;
  transition: all 0.3s;
}
.project__description-case:hover {
  transition: all 0.3s;
  background-color: rgba(88, 88, 88, 0.05);
}
.project img {
  width: 50rem;
}

.footer {
  width: 100vw;
  height: 28rem;
  background-color: #02151E;
  padding-top: 2.6rem;
}
.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__wrapper:nth-child(2) {
  margin-top: 4rem;
}
.footer__heading {
  margin-top: 2.6rem;
}
.footer__heading span {
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  background-image: linear-gradient(to right, #428ACB, #16B6C0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer__social {
  width: 18rem;
  height: 8rem;
  border: 1px solid;
  border-image-source: linear-gradient(to right, #428ACB, #88C4E2);
  border-image-slice: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s;
}
.footer__social span {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #F7F7F7;
}
.footer__social:nth-child(2) {
  margin-left: 4rem;
}
.footer__social:hover {
  background-color: rgba(155, 203, 248, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

/* || Playground page */
.playground {
  width: 100vw;
  height: 24rem;
  background-image: linear-gradient(#13548F, #16B6C0);
  color: #F7F7F7;
}

.concepts {
  width: 100vw;
  padding-top: 4rem;
}
.concepts__description-heading span {
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  background-image: linear-gradient(to right, #13548F, #16B6C0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.concepts__description-body {
  padding-top: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
