// Resets
* {
    margin: 0;
    padding: 0; 
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-style:  normal;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

// Variables
$font-primary:   'Mulish', sans-serif;
$font-secondary: 'Poppins', cursive;

$fs-xl:      7rem;
$fs-large:   4.6rem;
$fs-h1:      3.6rem;
$fs-h2:      3.2rem;
$fs-h3:      2.8rem;
$fs-normal:  1.6rem;

$line-normal:  2.9rem;
$line-small: 1.7rem;

$margin-xl: 12rem;
$margin-large: 4rem;
$margin-normal: 2.6rem;

$color-black:  #585858;
$color-purple: #2F2E41;
$color-orange: #F77062;
$color-cerise: #FE5196;
$color-white:  #f7f7f7;

// Basic setup
html {
    box-sizing: border-box;
    font-size:  62.5%;
}

body {
    font-family: $font-primary;
    font-size:   $fs-normal;
    color:       $color-black;
    line-height: $line-normal;
    background-color: $color-white;
}