/* || Variables  */
$font-primary:   'Mulish', sans-serif;
$font-secondary: 'Poppins', cursive;

$fs-h1:     7.2rem;
$fs-h2:     4.8rem;
$fs-normal: 1.6rem;
$fs-small:  1.4rem;

$line-normal: 2.9rem;
$line-small:  1.7rem;

$spacing-3xl:     30rem;
$spacing-xxl:     12rem;
$spacing-xl:      8rem;
$spacing-large:   4rem;
$spacing-normal:  2.6rem;
$spacing-small:   2rem;
$spacing-xs:      .8rem;

$width-normal: 52rem;

$color-black:       #585858;
$color-white:       #F7F7F7;
$color-blue:        #13548F;
$color-turquoise:   #16B6C0;

$color-hover:       #9bcbf8;
$color-footer-bg:   #02151E;
$color-footer-text: #428ACB;
$color-footer-icon: #88C4E2;

$transition-normal: .3s;

/* || Resets */
* {
    margin: 0;
    padding: 0; 
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: $fs-h2;
}

/* || Basic setup */
html {
    max-width:  100%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size:  62.5%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: $font-primary;
    font-size: $fs-normal;
    color: $color-black;
    line-height: $line-normal;
    background-color: $color-white;
}

/* || Layout */
.center {
    padding-left:  $spacing-xxl;
    padding-right: $spacing-xxl;
}